@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans+SC");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

html,
body,
.container,
.pageContainerNeedSee,
.pageSearchArticles {
    margin: 0;
    padding: 0;
    height: 100vh;
    font: 17px/21px 'Roboto Condensed', sans-serif;
}

.MainSlider {
    grid-area: slider;
    background-size: contain;
    text-align: center;
    justify-items: center;
    margin-top: -3vh;
}

.MainSliderOne {
    display: block;
}

.MainSliderTwo {
    display: none;
}

.MainSliderThree {
    display: none;
}

.MainSlider img {
    width: 20.2vw;
}

.header {
    grid-area: header;
    overflow: hidden;
    opacity: .9;
    top: .1px;
    z-index: 105;
    background: #444;
    border-bottom: 1px solid #4d4d4d;
}

.main {
    grid-area: main;
    position: relative;
    box-shadow: 0 0 12px 0 #ccc;
}

.article:nth-child(odd) {
    grid-area: mainDivOdd;
}

.article:nth-child(even) {
    grid-area: mainDivEven;
}

.articleTitle {
    position: absolute;
    text-align: left;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.39);
}

.articleTitle h3 {
    padding-bottom: 10%;
    margin: 5px 0 0 5px;
    font: 600 16px/20px 'Roboto Condensed', sans-serif;
}

.articleTitle h4 {
    padding-bottom: 10%;
    margin: 0 0 0 3%;
}

.articleCount {
    grid-area: asideArticleCount;
    font: 700 17px/19px 'Roboto Condensed', sans-serif;
    justify-self: start;
    align-self: center;
}

.articleIcon {
    grid-area: asideArticleIcon;
    font-size: .8em;
    margin: 0 5px 0 12px;
    justify-self: end;
    align-self: center;
}

.articleSlider span {
    position: relative;
    bottom: 7px;
}

.articleSlider {
    cursor: pointer;
    font: 600 17px/19px 'Roboto Condensed', sans-serif;
}

.articleSlider:hover > .articleImg {
    opacity: .9;
    border-bottom: 2px solid black;
}

.articleContainer {
    display: grid;
    position: relative;
    margin-top: 4vh;
    cursor: pointer;
}

.articleContainer:hover > .articleTitle {
    background: #14141496;
    color: white;
}

.article img {
    width: 100%;
}

.MainArticlesTitle {
    grid-area: MainArticlesTitle;
    margin: 3% 0 -15px 3%;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    justify-self: start;
    color: #ff5e1e;
    border-bottom: 1px solid rgba(128, 128, 128, 0.575);
    padding: 0 30px 15px 0;
}

.asideTitle {
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #ff5e1e;   
    margin: 0 0 10px 6px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.575);
    padding: 0 15px 5px 0;
}

.articleAside img {
    grid-area: asideImg;
    width: 100%;
    justify-self: stretch;
}

.articleAside h4 {
    grid-area: asideArticleTitle;
    justify-self: center;
    text-align: center;
}

.articleAside {
    border-bottom: 5px solid white;
    cursor: pointer;
    font: 600 16px/20px 'Roboto Condensed', sans-serif;
    justify-items: stretch;
    align-items: center;
    background: rgb(92, 92, 92);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto 3vh;
    grid-template-areas:
    "asideArticleTitle asideArticleTitle"
    "asideImg asideImg"
    "asideArticleIcon asideArticleCount"
}

.articleAside:last-child {
    border: none;
}

.articleAside:hover {
    background: #7474747c;
}

.aside {
    grid-area: sidebar;
}

.footer {
    grid-area: footer;
}


/* Navigation */

.NavigationForm {
    grid-area: navigationForm;
    border-left: 1px solid #4d4d4d;
}

.youtubeNavigation {
    grid-area: youtubeNavigation;
}

.twitterNavigation {
    grid-area: twitterNavigation;
}

.instagramNavigation {
    grid-area: instagramNavigation;
}

.facebookNavigation {
    grid-area: facebookNavigation;
}

.vkNavigation {
    grid-area: vkNavigation;
}

.pinterestNavigation {
    grid-area: pinterestNavigation;
}

.FollowContainer {
    justify-self: end;
    position: relative;
    grid-area: followContainer;
    align-self: center;
}

.NavigationFollow span {
    padding-left: 10px;
    font-weight: 700;
}

.NavigationFollow {
    text-shadow: 0px 0px .5px rgb(0, 0, 0);
    padding: 15px 11px;
    color: #999;
    text-transform: uppercase;
    font-style: normal;
    font-size: 16px;
}

.NavigationFollow:hover {
    color: white;
    background: #333;
}

.FollowContainer:hover > .SocialIconsNavigation {
    display: grid;
    background: #333;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
    "youtubeNavigation"
    "twitterNavigation"
    "instagramNavigation"
    "facebookNavigation"
    "vkNavigation"
    "pinterestNavigation"
}

.SocialIconsNavigation {
    position: absolute;
    display: none;
}

.SocialIconsNavigation ul {
    font-size: 12px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.SocialIconsNavigation ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
}

.SocialIconsNavigation span {
    padding-left: 15px;
}

.SocialIconsNavigation ul li {
    padding: 7px 11px;
    border-bottom: 1px solid #4d4d4d;
}

.SocialIconsNavigation ul li:first-child {
    border-top: 1px solid #4d4d4d;
}

.SocialIconsNavigation ul li:nth-child(1):hover {
    background: rgb(255, 0, 0);
}

.SocialIconsNavigation ul li:nth-child(2):hover {
    background: #00a1e0;
}

.SocialIconsNavigation ul li:nth-child(3):hover {
    background: #c911a1;
}

.SocialIconsNavigation ul li:nth-child(4):hover {
    background: #284175;
}

.SocialIconsNavigation ul li:nth-child(5):hover {
    background: #4c9aec;
}

.SocialIconsNavigation ul li:nth-child(6):hover {
    background: #c8232c;
}

.NavigationSearch {
    font-size: 13px;
    color: #999;
    position: relative;
    grid-area: navigationSearch;
    align-self: center;
    justify-self: start;
    border-left: 1px solid #4d4d4d;
    border-right: 1px solid #4d4d4d;
}

.NavigationSearchIcon {
    padding: 15px 20px;
}

.NavigationSearchForm {
    position: absolute;
    left: -200px;
}

.inputFormNavigation {
    grid-area: inputFormNavigation;
    padding-left: 5px;
    border: 2px solid #4a4a4a;
    text-align: left;
    overflow: hidden;
    width: 12vw;
    height: 20px;
    background: #5c5c5c;
    font-size: 15px;
    outline: none;
    color: rgb(63, 63, 63);
    margin-left: 10px;
}

.buttonFormNavigation {
    grid-area: buttonFormNavigation;
    background: transparent;
    border: none;
    outline: none;
    color: grey;
}

.ContainerSearchNavigation {
    padding: 6px 6px;
    display: grid;
    background: #333;
    grid-template-columns: 8% 92%;
    grid-template-areas: 
    "buttonFormNavigation inputFormNavigation" 
}

.Navigation {
    grid-area: navigation;
    margin: 0 -1%;
    position: relative;
    top: -3vh;
}

.NavigationSection {
    border-bottom: 1px solid white;
    display: grid;
    background: #3f3f3f;
    grid-template-columns: 1fr 40% 29% 8% 3% 1fr;
    grid-template-areas: 
    ". navigationForm navigationForm followContainer navigationSearch ." 
}

.NavigationForm h2 {
    text-shadow: 0px 0px 1px rgb(0, 0, 0);
    margin: 0;
    display: inline-block;
    padding: 15px 25px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    cursor: pointer;
}

.NavigationForm h2:nth-child(1) {
    border-top: 1px solid black;
}

.NavigationForm h2:nth-child(2) {
    border-top: 1px solid red;
}

.NavigationForm h2:nth-child(3) {
    border-top: 1px solid rgb(187, 255, 0);
}

.NavigationForm h2:nth-child(4) {
    border-top: 1px solid orange;
}

.NavigationForm h2:nth-child(5) {
    border-top: 1px solid rgb(0, 162, 255);
}

.NavigationForm h2:nth-child(6) {
    border-top: 1px solid green;
}

.NavigationForm h2:nth-child(7) {
    border-top: 1px solid rgb(255, 192, 229);
}

.NavigationForm h2:nth-child(1):hover {
   background: rgb(26, 26, 26);
}

.NavigationForm h2:nth-child(2):hover {
    background: rgb(206, 0, 0);
}

.NavigationForm h2:nth-child(3):hover {
    background: rgb(135, 184, 0);
}

.NavigationForm h2:nth-child(4):hover {
    background: rgb(185, 121, 0);
}

.NavigationForm h2:nth-child(5):hover {
    background: rgb(0, 110, 173);
}

.NavigationForm h2:nth-child(6):hover {
    background: rgb(0, 95, 0);
}

.NavigationForm h2:nth-child(7):hover {
    background: rgb(184, 133, 163);
}

.container {
    display: grid;
    grid-column-gap: 2%;
    grid-row-gap: 3vh;
    grid-template-columns: 1fr 60% 20% 1fr;
    grid-template-rows: 15vh auto auto auto 20vh;
    grid-template-areas: 
    "header header header header" 
    "navigation navigation navigation navigation"
    ". slider slider ." 
    ". main sidebar ." 
    ". footer footer ."
}

.article {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% auto;
    grid-template-areas:
    "MainArticlesTitle MainArticlesTitle" 
    "mainDivOdd mainDivEven"
}

.IndexButton {
    display: grid;
    margin: 5% auto;
    border: 2px solid rgb(100, 100, 100);
    background: #7c7c7c;
    padding: 10px 20px;
    color: white;
    font: 400 16px/16px 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-style: normal;
}

.IndexButton:hover {
    background: #ff5e1e;
    border: 2px solid rgba(255, 255, 255, 0.575);
    cursor: pointer;
}

/*Article Page*/

.pageMain {
    grid-area: pageMain;
    box-shadow: 0 0 12px 0 #ccc;
    text-align: justify;
}

.pageArticle img {
    width: 100%;
}

.pageArticle div {
    margin: 2% 7%;
}

.SliderNeedSee {
    grid-area: sliderNeedSee;
    text-align: center;
    justify-items: center;
    font: 16px/20px 'Roboto Condensed', sans-serif;
}

.SliderNeedSee img {
    width: 21.7vw;
}

.pageContainerNeedSee {
    display: grid;
    grid-column-gap: 2%;
    grid-row-gap: 3vh;
    grid-template-columns: 1fr 67% 27% 1fr;
    grid-template-rows: 15vh auto auto 20vh;
    grid-template-areas:
    "header header header header"
    ". pageMain sidebar ."
    ". sliderNeedSee sidebar ."
    ". footer footer ."
}

.Tags p {
    display: inline-block;
    border: 2px solid black;
    padding: 5px 5px;
    margin-right: 7px;
}



/*SearchForm*/

.HeaderSearchForm {
    position: relative;
    grid-area: search;
    justify-self: center;
}

.inputForm {
    border: 2px solid #4a4a4a;
    text-align: left;
    border-radius: 25px 25px 25px 25px;
    overflow: hidden;
    width: 15vw;
    height: 35px;
    background: #5c5c5c;
    font-size: 16px;
    padding: 0 0 0 15px;
    outline: none;
    color: rgb(63, 63, 63);
    box-shadow: inset 0 1px 8px #000;
}

.buttonForm {
    color: grey;
    cursor: pointer;
    position: absolute;
    left: 87%;
    top: 10px;
    background: transparent;
    border: none;
    font-size: 14px;
}

.inputForm:hover {
    background: rgb(95, 95, 95);
}

.buttonForm:hover {
    color: rgba(255, 255, 255, 0.63);
}

.Logo {
    grid-area: logo;
    width: 15vw;
    cursor: pointer;
    justify-self: start;
}

.Weather img {
    grid-area: weatherImg;
    justify-self: end;
    align-self: center;
    width: 60px;
    margin: 0;
    cursor: default;
}

.Weather p {
    grid-area: weatherCity;
    align-self: end;
    justify-self: end;
    font-size: 18px;
    margin: 0;
    color: #1b1b1b;
    font-weight: 500;
}

.Weather p span {
    padding-left: 10px;
    font: 20px 'Roboto Condensed', sans-serif;
}

.WeatherTemp {
    grid-area: weatherTemp;
    justify-self: end;
    align-self: center;
    font-size: 38px;
    font-weight: 700;
    color: white;
}

.WeatherC {
    font-size: 30px;
}

.Weather {
    display: grid;
    justify-self: end;
    cursor: default;
    grid-area: weather;
    opacity: 1;
    transition: ease 1s;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 6vh 9vh;
    grid-template-areas:
    "weatherCity weatherCity ."
    "weatherTemp weatherImg weatherImg"
}

.header {
    display: grid;
    align-items: center;
    grid-template-columns: auto 20% 25% 20% 16% auto;
    grid-template-areas:
    ". logo search social weather ."
}

/*Social*/

.youtube {
    grid-area: youtube;
}

.twitter {
    grid-area: twitter;
}

.instagram {
    grid-area: instagram;
}

.facebook {
    grid-area: facebook;
}

.vk {
    grid-area: vk;
}

.pinterest {
    grid-area: pinterest;
}

.youtube a, .pinterest a, .facebook a, .vk a, .twitter a, .instagram a {
    color: #000;
}

.youtube a:hover {color:rgb(255, 0, 0);}
.twitter a:hover {color: #00a1e0;}
.instagram a:hover {color: #c911a1;}
.facebook a:hover {color: #284175;}
.vk a:hover {color: #4c9aec;}
.pinterest a:hover {color: #c8232c;}

.SocialIcons {
    grid-area: social;
    display: grid;
    grid-column-gap: 10px;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 8% 8% 8% 8% 8% 8% 1fr;
    grid-template-areas:
    ". vk facebook instagram youtube twitter pinterest ."
}

/* SearchArticles */

.pageSearchMain {
    grid-area: searchMain;
    box-shadow: 0 0 12px 0 #ccc;
    justify-items: center;
}

.SearchSlider {
    grid-area: searchSlider;
    background-size: contain;
    text-align: center;
    justify-items: center;;
}

.SearchSlider img {
    width: 19vw;
    justify-items: center;
}

.pageSearchArticles {
    display: grid;
    grid-column-gap: 2%;
    grid-row-gap: 3vh;
    grid-template-columns: 1fr 19% 47% 26% 1fr;
    grid-template-rows: 15vh auto 20vh;
    grid-template-areas:
    "header header header header header"
    ". searchSlider searchMain sidebar ."
    ". footer footer footer ."
}

.searchContainer p {
    grid-area: searchTitle;
}

.searchContainer img {
    grid-area: searchImg;
    width: 25vw;
}

.searchResult {
    padding: 0 0 0 10px;
    margin-bottom: 0;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.searchMustSee {
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #ff5e1e;   
    margin: 0 0 10px 6px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.575);
    padding: 0 15px 5px 20px;
}

.searchContainer {
    display: grid;
    padding: 2% 0 1% 0;
    text-align: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: 55% 45% ;
    grid-template-rows: auto;
    grid-template-areas:
    "searchImg searchTitle"
}

/* Footer */

.footer img {
    grid-area: footerImg;
    width: 20vw;
    cursor: pointer;
}

.footer p {
    grid-area: footerReserved;
    border-top: 1px solid rgba(0, 0, 0, 0.336);
    padding: 1% 0 3% 0;
}

.footer {
    display: grid;
    border-top: 1px solid rgba(0, 0, 0, 0.336);
    grid-template-columns: 60% 40% ;
    grid-template-rows: 70% 30%;
    grid-template-areas:
    "footerImg social"
    "footerReserved footerReserved"
}

/* @media */

@media (min-width: 750px) and (max-width: 1050px) {
    .header {
        display: grid;
        align-items: center;
        grid-template-columns: 28% 27% 20% 25%;
        grid-template-areas:
        "logo search social weather"
    }

    .buttonForm {
        position: absolute;
        left: 79%;
        top: 7px;
        font-size: 14px;
    }

    .articleCount {
        font-size: 13px;
    }

    .articleAside h4 {
        margin: 3% 0;
        font: 600 15px/19px 'Roboto Condensed', sans-serif;
    }

    .articleTitle h3 {
        font: 600 15px/19px 'Roboto Condensed', sans-serif;
        padding-bottom: 5%;
    }

    .articleSlider {
        font: 600 15px/18px 'Roboto Condensed', sans-serif;
    }

    .articleTitle h4 {
        padding-bottom: 8%;
    }

    .Logo {
        width: 20vw;
    }

    .inputForm {
        width: 23vw;
        height: 29px;
        font-size: 15px;
    }

    .container {
        grid-template-rows: 14vh auto auto 16vh;
    }

    .Weather {
        grid-template-rows: 4vh 7vh;
    }

    /* Article page */

    .pageArticle img {
        width: 100%;
    }

    .pageContainerNeedSee {
        grid-template-rows: 14vh auto auto 16vh;
    }

    /* pageSearch */

    .SearchSlider {
        display: none;
        grid-area: searchSlider;
        background-size: contain;
        text-align: center;
        justify-items: center;;
    }

    .pageSearchArticles {
        display: grid;
        grid-template-columns: 1fr 60% 32% 1fr;
        grid-template-rows: 11vh auto 16vh;
        grid-template-areas:
        "header header header header"
        ". searchMain sidebar ."
        ". footer footer ."
    }

    .searchContainer img {
        width: 30vw;
    }

    .searchContainer h3 {
        font-size: 16px;
    }

    .SocialIcons {
        grid-column-gap: 20px;
        grid-row-gap: 6px;
        grid-template-columns: 1fr 8% 8% 8% 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
        ". vk facebook instagram ."
        ". youtube twitter pinterest ."
    }

    .footer img {
        grid-area: footerImg;
        width: 30vw;
        cursor: pointer;
    }


}

@media (min-width: 550px) and (max-width: 749px) {
    .aside {
        display: none;
    }

    .container {
        grid-template-columns: 1fr 67% 27% 1fr;
        grid-template-rows: 14vh auto auto 14vh;
        grid-template-areas: 
        "header header header header" 
        "slider slider slider slider" 
        ". main main ." 
        ". footer footer ."
    }

    .article img {
        width: 45vw
    }

    .article {
        display: grid;
        justify-items: center;
        align-self: center;
        grid-row-gap: 2vh;
        grid-template-columns: 50% 50%;
        grid-template-rows: 10% auto;
        grid-template-areas:
        "MainArticlesTitle MainArticlesTitle" 
        "mainDivOdd mainDivEven"
    }

    .articleContainer {
        margin-top: 0;    
    }

    .MainArticlesTitle {
        margin: 3% 0 0 3%;
    }

    .Weather {
        display: none;
    }

    .header {
        justify-items: end;
        grid-template-columns: 42% 33% 25%;
        grid-template-areas:
        "logo search social"
    }

    .buttonForm {
        position: absolute;
        left: 79%;
        top: 7px;
        font-size: 12px;
    }

    .articleCount {
        font-size: 13px;
    }

    .articleAside h4 {
        margin: 3% 0;
        font: 600 15px/19px 'Roboto Condensed', sans-serif;
    }

    .articleTitle h3 {
        font: 600 15px/19px 'Roboto Condensed', sans-serif;
        padding-bottom: 5%;
    }

    .articleSlider {
        font: 600 15px/18px 'Roboto Condensed', sans-serif;
    }

    .articleTitle h4 {
        padding-bottom: 8%;
    }

    .Logo {
        width: 35vw;
    }

    .inputForm {
        width: 23vw;
        height: 25px;
        font-size: 11px;
    }

    /* Article page */

    .Tags p{
        display: inline-block;
        border: 2px solid black;
        padding: 3px 3px;
        margin-right: 7px;
        font-size: 15px;
    }

    .pageArticle img {
        width: 100%;
    }

    .pageContainerNeedSee {
        grid-template-columns: 1fr 67% 27% 1fr;
        grid-template-rows: 14vh auto auto 16vh;
        grid-template-areas:
        "header header header header"
        ". pageMain pageMain ."
        ". sliderNeedSee sliderNeedSee ."
        ". footer footer ."
    }

    .SliderNeedSee img {
        width: 96%;
    }

    /* pageSearch */

    .SearchSlider {
        display: none;
        grid-area: searchSlider;
        background-size: contain;
        text-align: center;
        justify-items: center;;
    }

    .pageSearchArticles {
        grid-template-columns: 1fr 60% 32% 1fr;
        grid-template-rows: 14vh auto 16vh;
        grid-template-areas:
        "header header header header"
        ". searchMain searchMain."
        ". footer footer ."
    }

    .SearchSlider img {
        width: 100%;
        justify-items: center;
    }

    .searchContainer img {
        width: 96%;
    }

    .searchContainer h3 {
        font-size: 16px;
    }

    .SocialIcons {
        align-self: center;
        grid-column-gap: 20px;
        grid-row-gap: 6px;
        grid-template-columns: 1fr 8% 8% 8% 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
        ". vk facebook instagram ."
        ". youtube twitter pinterest ."
    }

    .MainSliderOne {
        display: none;
    }
    
    .MainSliderTwo {
        display: block;
        grid-area: two;
    }

    .MainSliderThree {
        display: block;
        grid-area: three;
    }

    .MainSliderContainer {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-template-areas:
        "two three"

    }

    .MainSliderTwo img, .MainSliderThree img {
        width: 99%;
    }

    .footer img {
        grid-area: footerImg;
        width: 35vw;
        cursor: pointer;
    }

}

@media (max-width: 549px) {
    .aside {
        display: none;
    }

    .Weather {
        display: none;
    }

    .container {
        grid-template-columns: 1fr 96% 1fr;
        grid-template-rows: 8.3vh auto auto 12vh;
        grid-template-areas: 
        "header header header" 
        "slider slider slider" 
        ". main ." 
        ". footer ."
    }

    .article img {
        width: 94vw;
    }

    .article {
        display: grid;
        justify-items: center;
        align-self: center;
        grid-row-gap: 2vh;
        grid-template-columns: 100%;
        grid-template-rows: 10% auto auto;
        grid-template-areas:
        "MainArticlesTitle" 
        "mainDivOdd"
        "mainDivEven"
    }

    .articleContainer {
        margin-top: 0;    
    }

    .MainArticlesTitle {
        margin: 3% 0 0 3%;
    }

    .header {
        grid-template-columns: 50% 50%;
        grid-template-rows: 55% 45%;
        grid-template-areas:
        "logo search"
        "logo social"
    }

    .buttonForm {
        position: absolute;
        left: 79%;
        top: 6px;
        font-size: 10px;
    }

    .articleCount {
        font-size: 13px;
    }

    .articleTitle h3 {
        font: 600 15px/19px 'Roboto Condensed', sans-serif;
        padding-bottom: 5%;
    }

    .articleSlider {
        font: 600 15px/18px 'Roboto Condensed', sans-serif;
    }

    .articleTitle h4 {
        padding-bottom: 8%;
    }

    .Logo {
        width: 90%;
        margin: 0;
        justify-self: center;
        align-self: center;
    }

    form {
        position: relative;
        justify-self: center;
        align-self: end;
    }

    .inputForm {
        width: 30vw;
        height: 20px;
        font-size: 11px;
    }

    .IndexButton {
        padding: 5px 12px;
        font: 400 16px/16px 'Roboto Condensed', sans-serif;
    }

    /* Article page */

    .Tags p{
        display: inline-block;
        border: 1px solid black;
        padding: 3px 3px;
        margin: 5px 3px;
        font-size: 13px;
    }

    .pageArticle img {
        width: 100%;
    }

    .pageContainerNeedSee {
        grid-template-columns: 1fr 96% 1fr;
        grid-template-rows: 8.3vh auto 12vh;
        grid-template-areas: 
        "header header header"  
        ". pageMain ." 
        ". footer ."
    }

    .SliderNeedSee {
        display: none;
    }

    /* pageSearch */

    .SearchSlider {
        display: none;
    }

    .pageSearchArticles {
        grid-template-columns: 1fr 96% 1fr;
        grid-template-rows: 8.3vh auto 12vh;
        grid-template-areas: 
        "header header header" 
        ". searchMain ." 
        ". footer ."
    }

    .searchContainer img {
        width: 96%;
    }

    .searchContainer h3 {
        font-size: 16px;
    }

    .youtube a, .pinterest a, .facebook a, .vk a, .twitter a, .instagram a {
        font-size: 12px;
    }

    .SocialIcons {
        align-self: center;
        grid-column-gap: 9%;
        grid-template-columns: 1fr 3% 3% 3% 3% 3% 3% 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        ". vk facebook instagram youtube twitter pinterest ."
    }

    .MainSliderOne {
        display: none;
    }
    
    .MainSliderTwo {
        display: block;
        grid-area: two;
    }

    .MainSliderThree {
        display: none;
    }

    .MainSliderContainer {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
        "two"

    }

    .MainSliderTwo img {
        width: 99.5%;
    }

    .footer img {
        justify-self: end;
        align-self: center;
        grid-area: footerImg;
        width: 48vw;
        cursor: pointer;
    }

    .footer {
        grid-template-columns: 45% 55% ;
        grid-template-rows: 50% 20% 30%;
        grid-template-areas:
        "footerImg footerImg"
        "social ."
        "footerReserved footerReserved"
    }

    .footer p {
        font-size: 15px;
    }
}