@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans+SC");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

html,
body,
.container,
.pageContainerNeedSee,
.pageSearchArticles,
.pageNavigationArticles {
    margin: 0;
    padding: 0;
    height: 100vh;
    font: 17px/21px 'Roboto Condensed', sans-serif;
}

.MainSlider {
    position: relative;
    grid-area: slider;
    justify-items: center;
    margin-top: -3vh;
}

.MainSliderContainer {
    width: 1450px;
    margin-left: auto;
    margin-right: auto;
}

.MainSliderOne {
    display: block;
}

.MainSliderTwo {
    display: none;
}

.MainSliderThree {
    display: none;
}

.MainSliderFour {
    display: none;
}

.articleSliderContainer div span, .articleSliderNeedSeeContainer div span, 
.articleSliderSearchContainer div span {
    grid-area: articleCount;
    align-self: end;
    justify-self: start;
    color: whitesmoke;
    font-size: 15px;
}

.articleSliderSearchContainer div span {
    padding-left: 5px;
}

.articleSliderContainer div i, .articleSliderNeedSeeContainer div i, 
.articleSliderSearchContainer div i {
    grid-area: articleIcon;
    color: whitesmoke;
    font-size: 14px;
    align-self: end;
    margin-bottom: 5px;
}

.articleSliderContainer div h3, .articleSliderNeedSeeContainer div h3,
.articleSliderSearchContainer div h3 {
   grid-area: articleName;
   margin: 0;
   text-align: center;
   align-self: start;
   margin-top: 10px;
   font: 700 18px/20px 'Roboto Condensed', sans-serif;
   color: white;
}

.articleSliderContainer h5, .articleSliderNeedSeeContainer h5,
.articleSliderSearchContainer h5 {
    position: absolute;
    top: 0;
    padding: 0 15px;
    font: 700 14px/26px 'Roboto Condensed', sans-serif;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.articleSliderContainer div, .articleSliderNeedSeeContainer div,
.articleSliderSearchContainer div {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    grid-area: articleTitle;
    background: rgba(26, 26, 26, 0.562);
    display: grid;
    grid-template-columns: 1fr 5% 90% 1fr;
    grid-template-rows: 90% 10%;
    grid-template-areas:
    ". articleName articleName ."
    ". articleIcon articleCount ."
}

.articleSliderContainer {
    width: 362px;
    position: relative;
}

.MainSliderImg {
    display: grid;
    cursor: pointer;
    width: 362px;
}

.header {
    grid-area: header;
    overflow: hidden;
    opacity: .9;
    top: .1px;
    z-index: 105;
    background: #444;
}

.main {
    grid-area: main;
    position: relative;
    box-shadow: 0 0 12px 0 #ccc;
}

.articleContainer:hover > .auto, .articleSliderContainer:hover > .auto, .articleSliderNeedSeeContainer:hover > .auto,
.articleSliderSearchContainer:hover > .auto {
    background: rgba(206, 0, 0, 0.40);
}

.articleContainer:hover > .finance, .articleSliderContainer:hover > .finance, .articleSliderNeedSeeContainer:hover > .finance,
.articleSliderSearchContainer:hover > .finance {
    background: rgb(187, 255, 0, 0.40);
}

.articleContainer:hover > .sport, .articleSliderContainer:hover > .sport, .articleSliderNeedSeeContainer:hover > .sport,
.articleSliderSearchContainer:hover > .sport {
    background: rgb(185, 121, 0, 0.40);
}

.articleContainer:hover > .games, .articleSliderContainer:hover > .games, .articleSliderNeedSeeContainer:hover > .games,
.articleSliderSearchContainer:hover > .games {
    background: rgb(0, 162, 255, 0.40);
}

.articleContainer:hover > .it, .articleSliderContainer:hover > .it, .articleSliderNeedSeeContainer:hover > .it,
.articleSliderSearchContainer:hover > .it {
    background: rgb(0, 95, 0, 0.40);
}

.articleContainer:hover > .other, .articleSliderContainer:hover > .other, .articleSliderNeedSeeContainer:hover > .other,
.articleSliderSearchContainer:hover > .other {
    background: rgb(184, 133, 163, 0.40);
}

.backColorAuto {
    background: rgb(206, 0, 0);
}

.backColorFinance {
    background: rgb(187, 255, 0);
}

.backColorSport {
    background: rgb(185, 121, 0);
}

.backColorGames {
    background: rgb(0, 162, 255);
}

.backColorIt {
    background: rgb(0, 95, 0);
}

.backColorOther {
    background: rgb(184, 133, 163);
}

.backColorAuto:hover {
    background: rgb(255, 0, 0, 0.700);
}

.backColorFinance:hover {
    background: rgba(187, 255, 0, 0.700);
}

.backColorSport:hover {
    background: rgb(185, 121, 0, 0.700);
}

.backColorGames:hover {
    background: rgb(0, 162, 255, 0.700);
}

.backColorIt:hover {
    background: rgb(0, 95, 0, 0.700);
}

.backColorOther:hover {
    background: rgb(184, 133, 163, 0.700);
}

.articleContainer div span {
    grid-area: articleCount;
    align-self: end;
    justify-self: start;
    color: whitesmoke;
    font-size: 15px;
}

.articleContainer div i {
    grid-area: articleIcon;
    justify-self: end;
    align-self: end;
    color: whitesmoke;
    font-size: 14px;
    padding-right: 7px;
    margin-bottom: 4px;
}

.articleContainer div h3 {
   grid-area: articleName;
   justify-self: start;
   align-self: start;
   margin-top: 10px;
   font: 700 18px/20px 'Roboto Condensed', sans-serif;
   color: white;
}

.articleContainer h5 {
    position: absolute;
    top: 0;
    padding: 0 15px;
    font: 700 14px/26px 'Roboto Condensed', sans-serif;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.articleContainer div {
    position: absolute;
    top: 60%;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    grid-area: articleTitle;
    background: rgba(26, 26, 26, 0.562);
    display: grid;
    grid-template-columns: 1fr 5% 90% 1fr;
    grid-template-rows: 90% 10%;
    grid-template-areas:
    ". articleName articleName ."
    ". articleIcon articleCount ."
}

.articleContainer {
    width: 490px;
    position: relative;
}

.MainArticleImg {
    display: grid;
    cursor: pointer;
    width: 490px;
}

.articles div:nth-child(odd) {
    grid-area: mainDivOdd;
}

.articles div:nth-child(even) {
    grid-area: mainDivEven;
}

.articlesList {
    grid-area: articlesList;
    width: 100%;
    display: grid;
    justify-items: center;
    grid-row-gap: 3vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
    "mainDivOdd mainDivEven" 
}

.MainArticlesTitle {
    margin: 1% 0 -1% 0;
    display: grid;
    position: relative;
    width: 96%;
    grid-area: MainArticlesTitle;
    font-family: 'Roboto Condensed', sans-sersif;
    text-transform: uppercase;
    font-style: normal;
    color: #ff5e1e;
    border-bottom: 1px solid #e3e3e3;
    grid-template-columns: 65% 35%;
    grid-template-areas:
    "mainArticlesTitleh1 social" 
}

.MainArticlesTitle span {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 1px;
    background: #222;
}

.MainArticlesTitle h1 {
    grid-area: mainArticlesTitleh1;
}

.article {
    display: grid;
    justify-items: center;
    grid-row-gap: 3vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% auto;
    grid-template-areas:
    "MainArticlesTitle MainArticlesTitle" 
    "articlesList articlesList"
}

.articleAside img {
    grid-area: asideImg;
    width: 100%;
}

.articleAside h4 {
    justify-self: center;
    align-self: center;
    grid-area: asideArticleTitle;
}

.AsideCountIcon {
    color: rgb(201, 201, 201);
    position: absolute;
    font-size: 15px;
    justify-self: start;
    align-self: end;
    bottom: 10px;
    left: 20px;
    grid-area: asideCountIcon;
}

.AsideCountIcon span {
    padding-left: 5px;
}

.articleAside {
    position: relative;
    text-align: center;
    cursor: pointer;
    border-bottom: 2px solid white;
    font: 600 17px/18px 'Roboto Condensed', sans-serif;
    background: #dddddd;
    display: grid;
    grid-template-columns: 1fr 46% 46% 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    ". asideArticleTitle asideArticleTitle ."
    "asideImg asideImg asideImg asideImg"
}

.articleAside:hover {
    background: #ff5e1e;
}

.AsideTitle {
    width: 100%;
    display: grid;
    position: relative;
    grid-area: asideTitle;
    margin: 0 0 15px 0;
    border-bottom: 1px solid #e3e3e3;
}

.AsideTitle h3 {
    font-family: 'Roboto Condensed', sans-sersif;
    text-transform: uppercase;
    font-style: normal;
    color: #ff5e1e;
}

.AsideList {
    grid-area: asideList;
}

.AsideTitle span {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 1px;
    background: #222;
}

.aside {
    display: grid;
    grid-area: sidebar;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas:
    "asideTitle asideTitle"
    "asideList asideList"

}

.footer {
    grid-area: footer;
}


/* Navigation page */

.pageNavigationArticles {
    display: grid;
    grid-column-gap: 2%;
    grid-row-gap: 3vh;
    grid-template-columns: 1fr 16% 40% 22% 1fr;
    grid-template-rows: 15vh auto auto auto 20vh;
    grid-template-areas:
    "header header header header header"
    "navigation navigation navigation navigation navigation"
    "searchNavigationContainer searchNavigationContainer searchNavigationContainer searchNavigationContainer searchNavigationContainer"
    "navigationFooter navigationFooter navigationFooter navigationFooter navigationFooter"
    "footer footer footer footer footer"
}

/* Navigation */

.NavigationForm {
    grid-area: navigationForm;
    border-left: 1px solid #4d4d4d;
}

.youtubeNavigation {
    grid-area: youtubeNavigation;
}

.twitterNavigation {
    grid-area: twitterNavigation;
}

.instagramNavigation {
    grid-area: instagramNavigation;
}

.facebookNavigation {
    grid-area: facebookNavigation;
}

.vkNavigation {
    grid-area: vkNavigation;
}

.pinterestNavigation {
    grid-area: pinterestNavigation;
}

.FollowContainer {
    justify-self: end;
    position: relative;
    grid-area: followContainer;
    align-self: center;
}

.NavigationFollow span {
    padding-left: 9px;
    font-weight: 700;
}

.NavigationFollow {
    cursor: pointer;
    text-shadow: 0px 0px .5px rgb(0, 0, 0);
    padding: 15px 13px;
    color: #999;
    text-transform: uppercase;
    font-style: normal;
    font-size: 16px;
}

.NavigationFollow:hover {
    color: white;
    background: #333;
}

.FollowContainer:hover > .SocialIconsNavigation {
    display: grid;
    background: #333;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
    "youtubeNavigation"
    "twitterNavigation"
    "instagramNavigation"
    "facebookNavigation"
    "vkNavigation"
    "pinterestNavigation"
}

.SocialIconsNavigation {
    position: absolute;
    display: none;
}

.SocialIconsNavigation ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.SocialIconsNavigation span {
    padding-left: 9px;
}

.SocialIconsNavigation ul li {
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    color: white;
    padding: 7px 15px;
    border-bottom: 1px solid #4d4d4d;
}

.SocialIconsNavigation ul li:first-child {
    border-top: 1px solid #4d4d4d;
}

.SocialIconsNavigation ul a:nth-child(1) > li:hover {
    background: rgb(255, 0, 0);
}

.SocialIconsNavigation ul a:nth-child(2) > li:hover {
    background: #00a1e0;
}

.SocialIconsNavigation ul a:nth-child(3) > li:hover {
    background: #c911a1;
}

.SocialIconsNavigation ul a:nth-child(4) > li:hover {
    background: #284175;
}

.SocialIconsNavigation ul a:nth-child(5) > li:hover {
    background: #4c9aec;
}

.SocialIconsNavigation ul a:nth-child(6) > li:hover {
    background: #c8232c;
}

.NavigationSearch {
    font-size: 13px;
    color: #999;
    position: relative;
    grid-area: navigationSearch;
    align-self: center;
    justify-self: end;
    border-left: 1px solid #4d4d4d;
    border-right: 1px solid #4d4d4d;
}

.NavigationSearchIcon {
    padding: 15px 20px;
    cursor: pointer;
}

.NavigationSearchForm {
    position: absolute;
    right: -1px;
}

.inputFormNavigation {
    grid-area: inputFormNavigation;
    padding-left: 5px;
    border: 2px solid #4a4a4a;
    text-align: left;
    overflow: hidden;
    width: 12vw;
    height: 20px;
    background: #5c5c5c;
    font-size: 15px;
    outline: none;
    color: rgb(63, 63, 63);
    margin-left: 10px;
}

.buttonFormNavigation {
    grid-area: buttonFormNavigation;
    background: transparent;
    border: none;
    outline: none;
    color: grey;
}

.ContainerSearchNavigation {
    padding: 6px 6px;
    display: grid;
    background: #333;
    grid-template-columns: 8% 92%;
    grid-template-areas: 
    "buttonFormNavigation inputFormNavigation" 
}

.LogoNavigation {
    position: relative;
    grid-area: logoNavigation;
}

.LogoNavigation img {
    transition: ease .5s;
    cursor: pointer;
    top: -10px;
    bottom: 0;
    left: 15px;
    position: absolute;
    width: 65%;
}

.Navigation {
    grid-area: navigation;
    position: relative;
    top: -3vh;
    background: #3f3f3f;
}

.NavigationSectionContainer {
    width: 1450px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    background: #3f3f3f;
    grid-template-columns: 60% 20% 16% 4%;
    grid-template-areas: 
    "navigationForm logoNavigation followContainer navigationSearch" 
}

.NavigationForm h2 {
    text-shadow: 0px 0px 1px rgb(0, 0, 0);
    margin: 0;
    display: inline-block;
    padding: 15px 25px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    cursor: pointer;
}

.NavigationForm h2:nth-child(1) {
    border-top: 1px solid black;
}

.NavigationForm h2:nth-child(2) {
    border-top: 1px solid red;
}

.NavigationForm h2:nth-child(3) {
    border-top: 1px solid rgb(187, 255, 0);
}

.NavigationForm h2:nth-child(4) {
    border-top: 1px solid orange;
}

.NavigationForm h2:nth-child(5) {
    border-top: 1px solid rgb(0, 162, 255);
}

.NavigationForm h2:nth-child(6) {
    border-top: 1px solid green;
}

.NavigationForm h2:nth-child(7) {
    border-top: 1px solid rgb(255, 192, 229);
}

.NavigationForm h2:nth-child(1):hover {
   background: rgb(26, 26, 26);
}

.NavigationForm h2:nth-child(2):hover {
    background: rgb(206, 0, 0);
}

.NavigationForm h2:nth-child(3):hover {
    background: rgb(135, 184, 0);
}

.NavigationForm h2:nth-child(4):hover {
    background: rgb(185, 121, 0);
}

.NavigationForm h2:nth-child(5):hover {
    background: rgb(0, 110, 173);
}

.NavigationForm h2:nth-child(6):hover {
    background: rgb(0, 95, 0);
}

.NavigationForm h2:nth-child(7):hover {
    background: rgb(184, 133, 163);
}

.IndexContainer {
    grid-area: indexContainer;
}

.MainAsideContainer {
    display: grid;
    grid-column-gap: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 1450px;
    grid-template-columns: 1fr 65% 15% 1fr;
    grid-template-areas: 
    "main main sidebar sidebar" 
}

.container {
    display: grid;
    grid-column-gap: 2%;
    grid-row-gap: 3vh;
    grid-template-columns: 1fr 60% 20% 1fr;
    grid-template-rows: 15vh auto auto auto auto 15vh;
    grid-template-areas: 
    "header header header header" 
    "navigation navigation navigation navigation"
    "slider slider slider slider" 
    "indexContainer indexContainer indexContainer indexContainer" 
    "navigationFooter navigationFooter navigationFooter navigationFooter"
    "footer footer footer footer"
}

.IndexButton {
    display: grid;
    margin: 5% auto;
    border: 2px solid rgb(100, 100, 100);
    background: #7c7c7c;
    padding: 10px 20px;
    color: white;
    font: 400 16px/16px 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-style: normal;
}

.IndexButton:hover {
    background: #ff5e1e;
    border: 2px solid rgba(255, 255, 255, 0.575);
    cursor: pointer;
}

/*Article Page*/

.pageMain {
    grid-area: pageMain;
    box-shadow: 0 0 12px 0 #ccc;
    text-align: justify;
    margin-bottom: 2%;
}

.pageArticle img {
    width: 100%;
}

.pageArticle div {
    margin: 4% 4%;
}

.SliderNeedSee {
    position: relative;
    align-self: end;
    grid-area: sliderNeedSee;
    font: 16px/20px 'Roboto Condensed', sans-serif;
}

.SliderNeedSeeTwo {
    display: none;
}

.articleSliderNeedSeeContainer {
    position: relative;
    width: 359px;
}

.articleSliderNeedSeeContainer img {
    display: grid;
    cursor: pointer;
    width: 359px;
}

.IndexArticlesContainer {
    grid-area: indexArticlesContainer;
}

.pageMainSliderContainer {
    grid-area: pageMainSliderContainer;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    "pageMain"
    "sliderNeedSee"
}

.pageMainAsideContainer {
    margin-left: auto;
    margin-right: auto;
    grid-column-gap: 2%;
    display: grid;
    width: 1450px;
    grid-template-columns: 1fr 65% 15% 1fr;
    grid-template-areas:
    "pageMainSliderContainer pageMainSliderContainer sidebar sidebar"
}

.pageContainerNeedSee {
    display: grid;
    grid-column-gap: 2%;
    grid-row-gap: 3vh;
    grid-template-columns: 1fr 60% 20% 1fr;
    grid-template-rows: 15vh auto auto auto 20vh;
    grid-template-areas:
    "header header header header"
    "navigation navigation navigation navigation"
    "indexArticlesContainer indexArticlesContainer indexArticlesContainer indexArticlesContainer"
    "navigationFooter navigationFooter navigationFooter navigationFooter"
    "footer footer footer footer"
}

.Tags p {
    display: inline-block;
    border: 2px solid black;
    padding: 5px 5px;
    margin-right: 7px;
}



/*SearchForm*/

.HeaderSearchForm {
    position: relative;
    grid-area: search;
    justify-self: center;
}

.inputForm {
    border: 2px solid #4a4a4a;
    text-align: left;
    border-radius: 25px 25px 25px 25px;
    overflow: hidden;
    width: 280px;
    height: 35px;
    background: #5c5c5c;
    font-size: 16px;
    padding: 0 0 0 15px;
    outline: none;
    color: rgb(63, 63, 63);
    box-shadow: inset 0 1px 8px #000;
}

.buttonForm {
    color: grey;
    cursor: pointer;
    position: absolute;
    left: 87%;
    top: 10px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 14px;
}

.inputForm:hover {
    background: rgb(95, 95, 95);
}

.buttonForm:hover {
    color: rgba(255, 255, 255, 0.63);
}

.Logo {
    grid-area: logo;
    width: 285px;
    cursor: pointer;
    justify-self: start;
}

.Weather img {
    grid-area: weatherImg;
    justify-self: end;
    align-self: center;
    width: 60px;
    margin: 0;
    cursor: default;
}

.Weather p {
    grid-area: weatherCity;
    align-self: end;
    justify-self: end;
    font-size: 18px;
    margin: 0;
    color: #1b1b1b;
    font-weight: 500;
}

.Weather p span {
    padding-left: 10px;
    font: 20px 'Roboto Condensed', sans-serif;
}

.WeatherTemp {
    grid-area: weatherTemp;
    justify-self: end;
    align-self: center;
    font-size: 38px;
    font-weight: 700;
    color: white;
}

.WeatherC {
    font-size: 30px;
}

.Weather {
    display: grid;
    justify-self: end;
    cursor: default;
    grid-area: weather;
    opacity: 1;
    transition: ease 1s;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 40px 60px;
    grid-template-areas:
    "weatherCity weatherCity ."
    "weatherTemp weatherImg weatherImg"
}

.headerContainer {
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5vh;
    width: 1450px;
    align-self: center;
    display: grid;
    align-items: center;
    grid-template-columns: 25% 30% 25% 20%;
    grid-template-areas:
    "logo search social weather"
}

/*Social*/

.youtube {
    grid-area: youtube;
}

.twitter {
    grid-area: twitter;
}

.instagram {
    grid-area: instagram;
}

.facebook {
    grid-area: facebook;
}

.vk {
    grid-area: vk;
}

.pinterest {
    grid-area: pinterest;
}

.youtube a, .pinterest a, .facebook a, .vk a, .twitter a, .instagram a {
    color: #000;
}

.youtube a:hover {color:rgb(255, 0, 0);}
.twitter a:hover {color: #00a1e0;}
.instagram a:hover {color: #c911a1;}
.facebook a:hover {color: #284175;}
.vk a:hover {color: #4c9aec;}
.pinterest a:hover {color: #c8232c;}

.SocialIcons {
    grid-area: social;
    display: grid;
    grid-column-gap: 10px;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 8% 8% 8% 8% 8% 8% 1fr;
    grid-template-areas:
    ". vk facebook instagram youtube twitter pinterest ."
}

/* SearchArticles */

.SearchArticle {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% auto;
    grid-template-areas:
    "searchResultContainer"
    "searchList"
}

.pageSearchMain {
    grid-area: searchMain;
    box-shadow: 0 0 12px 0 #ccc;
}

.SearchSlider {
    display: grid;
    grid-area: searchSlider;
    position: relative;
    text-align: center;
}

.articleSliderSearchContainer {
    display: grid;
    text-align: center;
    position: relative;
    width: 100%;
    border-bottom: 3px solid white;
}

.articleSliderSearchContainer img {
    display: grid;
    width: 100%;
}

.SearchNavigationContainer {
    grid-area: searchNavigationContainer;
}

.SliderMainAsideContainer {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-column-gap: 2%;
    width: 1450px;
    grid-template-columns: 22% 49% 25%;
    grid-template-areas:
    "searchSlider searchMain sidebar"
}

.pageSearchArticles {
    display: grid;
    grid-row-gap: 3vh;
    grid-template-columns: 1fr 17% 40% 21% 1fr;
    grid-template-rows: 15vh auto auto auto 20vh;
    grid-template-areas:
    "header header header header header"
    "navigation navigation navigation navigation navigation"
    "searchNavigationContainer searchNavigationContainer searchNavigationContainer searchNavigationContainer searchNavigationContainer"
    "navigationFooter navigationFooter navigationFooter navigationFooter navigationFooter"
    "footer footer footer footer footer"
}

.searchContainer p {
    grid-area: searchTitle;
}

.searchContainer img {
    grid-area: searchImg;
    width: 370px;
}

.searchResultContainer {
    position: relative;
    grid-area: searchResultContainer;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-size: 16px;
    margin: 0 15px;
    border-bottom: 1px solid #e3e3e3;
}

.searchResultContainer span {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 1px;
    background: #222;
}

.Searchlist {
    grid-area: searchList;
}

.searchContainer {
    grid-area: searchContainer;
    cursor: pointer;
    display: grid;
    margin: 20px 10px 0 10px;
    padding: 2% 0 1% 0;
    text-align: center;
    justify-items: center;
    align-items: center;
    transition: ease .2s;
    grid-template-columns: 55% 45% ;
    grid-template-rows: auto;
    grid-template-areas:
    "searchImg searchTitle"
}

.searchContainer:hover {
    box-shadow:
    0 1px 4px rgba(0, 0, 0, .3),
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;
}

/* Footer */

.footer img {
    grid-area: footerImg;
    width: 300px;
    cursor: pointer;
}

.footer p {
    grid-area: footerReserved;
    border-top: 1px solid #e3e3e3;
    padding: 1% 0 0 0;
}

.FooterContainer {
    margin-left: auto;
    margin-right: auto;
    width: 1450px;
    display: grid;
    grid-template-columns: 60% 40% ;
    grid-template-rows: 70% 30%;
    grid-template-areas:
    "footerImg social"
    "footerReserved footerReserved"
}

.NavigationFooter {
    grid-area: navigationFooter;
}

.BottomNavigationForm {
    width: 100%;
    grid-area: bottomNavigationForm;
    border-bottom: 1px solid #e3e3e3;
}

.ButtonToTop {
    justify-self: start;
    align-self: end;
    color: #999;
    grid-area: buttonToTop;
}

.ButtonToTop:hover {
    color: #000;
}

.ButtonToTop span {
    padding-right: 5px;
}

.BottomNavigationSection {
    margin-left: auto;
    margin-right: auto;
    width: 1450px;
    border-bottom: 1px solid white;
    display: grid;
    grid-template-columns: 50% 42% 8%;
    grid-template-areas: 
    "bottomNavigationForm bottomNavigationForm buttonToTop" 
}

.BottomNavigationForm h2 {
    margin: 2% 0 0 0;
    display: inline-block;
    padding: 15px 25px;
    color: #222222;
    text-transform: uppercase;
    font-style: normal;
    font-size: 20px;
    cursor: pointer;
}

.BottomNavigationForm h2:nth-child(1) {
    border-bottom: 1px solid black;
}

.BottomNavigationForm h2:nth-child(2) {
    border-bottom: 1px solid red;
}

.BottomNavigationForm h2:nth-child(3) {
    border-bottom: 1px solid rgb(187, 255, 0);
}

.BottomNavigationForm h2:nth-child(4) {
    border-bottom: 1px solid orange;
}

.BottomNavigationForm h2:nth-child(5) {
    border-bottom: 1px solid rgb(0, 162, 255);
}

.BottomNavigationForm h2:nth-child(6) {
    border-bottom: 1px solid green;
}

.BottomNavigationForm h2:nth-child(7) {
    border-bottom: 1px solid rgb(255, 192, 229);
}

.BottomNavigationForm h2:nth-child(1):hover {
   color: rgb(59, 59, 59);
}

.BottomNavigationForm h2:nth-child(2):hover {
    color: rgb(206, 0, 0);
}

.BottomNavigationForm h2:nth-child(3):hover {
    color: rgb(135, 184, 0);
}

.BottomNavigationForm h2:nth-child(4):hover {
    color: rgb(185, 121, 0);
}

.BottomNavigationForm h2:nth-child(5):hover {
    color: rgb(0, 110, 173);
}

.BottomNavigationForm h2:nth-child(6):hover {
    color: rgb(0, 95, 0);
}

.BottomNavigationForm h2:nth-child(7):hover {
    color: rgb(184, 133, 163);
}

/* NavMobileForm */

.MenuButton {
    display: none;
}

.NavMobileForm {
    position: absolute;
    transition: ease .5s;
    z-index: 1000;
    top: 0;
    background: #3f3f3f;
    height: 100vh;
}

.inputMobileForm {
    border: 2px solid #4a4a4a;
    text-align: left;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    width: 280px;
    height: 33px;
    background: #5c5c5c;
    font-size: 16px;
    padding: 0 0 0 15px;
    outline: none;
    color: rgb(63, 63, 63);
    margin: 10px 10px;
}

.buttonMobileForm {
    color: grey;
    cursor: pointer;
    position: absolute;
    left: 85%;
    top: 19px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 14px;
}

.NavigationMobile {
    margin-top: 80px;
}

.NavigationMobile h2 {
    margin: 0 0 0 3px;
    border-bottom: 1px solid black;
    display: block;
    padding: 15px 0 15px 15px;
    color: white;
    font-style: normal;
    font-size: 16px;
    cursor: pointer;
}

.NavigationMobile h2:nth-child(1) {
    border-left: 2px solid black;
    text-align: right;
    padding-right: 20px;
}

.NavigationMobile h2:nth-child(2) {
    border-left: 2px solid red;
}

.NavigationMobile h2:nth-child(3) {
    border-left: 2px solid rgb(187, 255, 0);
}

.NavigationMobile h2:nth-child(4) {
    border-left: 2px solid orange;
}

.NavigationMobile h2:nth-child(5) {
    border-left: 2px solid rgb(0, 162, 255);
}

.NavigationMobile h2:nth-child(6) {
    border-left: 2px solid green;
}

.NavigationMobile h2:nth-child(7) {
    border-left: 2px solid rgb(255, 192, 229);
}

.NavigationMobile h2:nth-child(1):hover {
   background: rgb(26, 26, 26);
}

.NavigationMobile h2:nth-child(2):hover {
    background: rgb(206, 0, 0);
}

.NavigationMobile h2:nth-child(3):hover {
    background: rgb(135, 184, 0);
}

.NavigationMobile h2:nth-child(4):hover {
    background: rgb(185, 121, 0);
}

.NavigationMobile h2:nth-child(5):hover {
    background: rgb(0, 110, 173);
}

.NavigationMobile h2:nth-child(6):hover {
    background: rgb(0, 95, 0);
}

.NavigationMobile h2:nth-child(7):hover {
    background: rgb(184, 133, 163);
}

/* @media */

@media (max-width: 1470px) {
    .headerContainer {
        width: 1300px;
    }

    .NavigationSectionContainer {
        width: 1300px;
        grid-template-columns: 60% 20% 15.5% 4.5%;
    }

    .MainSliderContainer {
        width: 1300px;
    }

    .articleSliderContainer img {
        width: 324px;
    }

    .articleSliderContainer {
        width: 324px;
    }

    .articleSliderContainer div h3 {
        font-size: 17px;
    }

    .articleContainer {
        width: 460px;
        position: relative;
    }

    .MainArticleImg {
        display: grid;
        cursor: pointer;
        width: 460px;
    }

    .LogoNavigation img {
        top: -6px;
    }

    .MainAsideContainer {
        width: 1300px;
    }

    .BottomNavigationSection {
        width: 1300px;
        grid-template-columns: 50% 41% 9%;
    }

    .FooterContainer {
        width: 1300px;
    }

    /* Article page */

    .pageMainAsideContainer {
        width: 1300px;
    }

    .SliderNeedSeeTwo {
        display: none;
    }

    .articleSliderNeedSeeContainer img {
        width: 323px;
    }

    .articleSliderNeedSeeContainer {
        width: 323px;
    }

    .articleSliderNeedSeeContainer div h3 {
        font-size: 17px;
    }

    .articleSliderNeedSeeContainer div {
        top: 50%;
    }

    /* pageSearch and pageNavigation */

    .SliderMainAsideContainer {
        width: 1300px;
    }

    .searchContainer img {
        width: 335px;
    }

    .articleSliderSearchContainer div {
        top: 50%;
    }

    .articleSliderSearchContainer div h3 {
        font-size: 16px;
    }

    .articleSliderSearchContainer div span {
        padding-left: 5px;
    }
}

@media (max-width: 1320px) {

    .headerContainer {
        width: 1100px;
    }

    .NavigationSectionContainer {
        width: 1100px;
        grid-template-columns: 60% 20% 15% 5%;
    }

    .NavigationSearchIcon {
        padding: 15px 19px;
    }

    .MainSliderContainer {
        width: 1100px;
    }

    .articleSliderContainer img {
        width: 274px;
    }

    .articleSliderContainer {
        width: 274px;
    }

    .articleSliderContainer div {
        top: 50%;
    }

    .articleSliderContainer div h3 {
        font-size: 16px;
        align-self: start;
        margin-top: 5px;
        text-align: center;
    }

    .articleSliderContainer div span {
        padding-left: 5px;
        align-self: end;
    }

    .articleSliderContainer div i {
        margin-bottom: 5px;
    }

    .articleContainer {
        width: 392px;
        position: relative;
    }

    .MainArticleImg {
        width: 392px;
    }

    .LogoNavigation img {
        top: -3px;
    }

    .MainAsideContainer {
        width: 1100px;
    }

    .BottomNavigationSection {
        width: 1100px;
        grid-template-columns: 50% 39% 11%;
    }

    .FooterContainer {
        width: 1100px;
    }

    /* Article page */

    .pageMainAsideContainer {
        width: 1100px;
    }

    .SliderNeedSeeOne {
        display: none;
    }

    .SliderNeedSeeTwo {
        display: block;
    }

    .articleSliderNeedSeeContainer img {
        width: 410px;
    }

    .articleSliderNeedSeeContainer {
        width: 410px;
    }

    .articleSliderNeedSeeContainer div h3 {
        font-size: 18px;
        align-self: start;
        margin-top: 10px;
    }

    .articleSliderNeedSeeContainer div {
        top: 55%;
    }

    .articleSliderNeedSeeContainer div span {
        align-self: end;
    }

    .articleSliderNeedSeeContainer div i {
        margin-bottom: 4px;
    }

    /* pageSearch and pageNavigation */

    .SliderMainAsideContainer {
        width: 1100px;
    }

    .inputForm {
        width: 240px;
        margin-left: 50px;
    }

    .articleSliderSearchContainer div {
        top: 45%
    }

    .articleSliderSearchContainer div h3 {
        font-size: 16px;
        align-self: start;
        margin-top: 5px;
    }

    .articleSliderSearchContainer div span {
        align-self: end;
    }

    .articleSliderSearchContainer div i {
        margin-bottom: 5px;
    }

    .searchContainer img {
        width: 285px;
    }

}

@media (max-width: 1115px) {

    .container {
        grid-template-rows: 11vh auto auto auto auto 15vh;
    }

    .headerContainer {
        width: 950px;
        padding-top: 0;
        grid-template-columns: 35% 40% 25%;
        grid-template-areas:
        "logo search social"
    }

    .Weather {
        display: none;
    }

    .inputForm {
        margin-left: 0;
    }

    .NavigationSectionContainer {
        width: 950px;
        grid-template-columns: 75% 19% 6%;
        grid-template-areas: 
        "navigationForm followContainer navigationSearch"
    }

    .MainSliderContainer {
        width: 950px;
    }

    .articleSliderContainer img {
        width: 315px;
    }

    .articleSliderContainer {
        width: 315px;
    }

    .MainSliderOne {
        display: none;
    }
    
    .MainSliderTwo {
        display: block;
        grid-area: two;
    }

    .MainSliderThree {
        display: block;
        grid-area: three;
    }

    .MainSliderFour {
        display: block;
        grid-area: four;
    }

    .MainSliderContainerSection {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        grid-template-areas:
        "two three four"
    }

    .MainAsideContainer {
        width: 950px;
        grid-template-columns: 100%;
        grid-template-areas: 
        "main" 
    }

    .articleContainer {
        width: 455px;
        position: relative;
    }

    .MainArticleImg {
        width: 455px;
    }

    .BottomNavigationSection {
        width: 950px;
        grid-template-columns: 50% 38% 12%;
    }

    .FooterContainer {
        width: 950px;
    }

    .aside {
        display: none;
    }

    /* Article page */

    .pageMainAsideContainer {
        width: 950px;
        grid-template-columns: 100%;
        grid-template-areas:
        "pageMainSliderContainer"
    }

    .pageContainerNeedSee {
        grid-template-rows: 11vh auto auto auto 15vh;
    }

    .SliderNeedSeeTwo {
        display: none;
    }

    .SliderNeedSeeOne {
        display: block;
    }

    .articleSliderNeedSeeContainer img {
        width: 319px;
    }

    .articleSliderNeedSeeContainer {
        width: 319px;
    }

    .Tags p {
        padding: 3px 3px;
        font-size: 15px;
    }

    /* pageSearch and pageNavigation */

    .SliderMainAsideContainer {
        width: 950px;
        grid-template-columns: 33% 67%;
        grid-template-areas:
        "searchSlider searchMain"
    }

    .pageSearchArticles {
        grid-template-rows: 11vh auto auto auto auto 15vh;
    }

    .searchContainer img {
        width: 330px;
    }
}

@media (max-width: 970px) {

    .container {
        grid-template-columns: 100%;
        grid-template-rows: 5vh auto auto auto 10vh;
        grid-template-areas: 
        "header" 
        "slider" 
        "indexContainer" 
        "navigationFooter"
        "footer"
    }

    .MainSlider {
        margin-top: -2vh;
    }

    .header {
        position: fixed;
        height: 5.5vh;
        width: 100%;
    }

    .headerContainer {
        width: 100%;
        position: relative;
        padding-top: 0;
        grid-template-columns: 90% 10%;
        grid-template-rows: 5.5vh;
        grid-template-areas:
        "logo menuButton"
    }

    .NavigationSectionContainer {
        display: none;
    }

    .Logo {
        width: 180px;
        margin-left: 15px;
    }

    .LogoMobileMenu {
        position: absolute;
        width: 200px;
        left: 60px;
        cursor: pointer;
    }

    .NavMobileForm {
        position: relative;
    }

    .articleContainer {
        width: 358px;
        position: relative;
    }

    .MainArticleImg {
        display: grid;
        cursor: pointer;
        width: 358px;
    }

    .MainSliderContainer {
        width: 750px;
    }

    .articleSliderContainer img {
        width: 373px;
    }

    .articleSliderContainer {
        width: 373px;
    }

    .MainSliderOne {
        display: none;
    }
    
    .MainSliderTwo {
        display: block;
        grid-area: two;
    }

    .MainSliderThree {
        display: block;
        grid-area: three;
    }

    .MainSliderFour {
        display: none;
        grid-area: four;
    }

    .MainSliderContainerSection {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-template-areas:
        "two three"
    }

    .MainAsideContainer {
        width: 750px;
        grid-template-columns: 100%;
        grid-template-areas: 
        "main" 
    }

    .BottomNavigationSection {
        width: 750px;
        grid-template-columns: 100%;
        grid-template-areas: 
        "bottomNavigationForm"
    }

    .ButtonToTop {
        display: none;
    }

    .FooterContainer {
        width: 750px;
    }

    .aside {
        display: none;
    }

    /* Article page */

    .pageMainAsideContainer {
        margin-top: -2vh;
        width: 750px;
        grid-template-columns: 100%;
        grid-template-areas:
        "pageMainSliderContainer"
    }

    .pageContainerNeedSee {
        grid-template-rows: 5.5vh auto auto auto 10vh;
    }

    .SliderNeedSeeOne {
        display: none;
    }

    .SliderNeedSeeTwo {
        display: block;
    }

    .articleSliderNeedSeeContainer img {
        width: 378px;
    }

    .articleSliderNeedSeeContainer {
        width: 378px;
    }

    .Tags p {
        padding: 3px 3px;
        font-size: 15px;
    }

    /* pageSearch and pageNavigation */

    .SliderMainAsideContainer {
        margin-top: -2vh;
        width: 750px;
        grid-template-columns: 35% 65%;
        grid-template-areas:
        "searchSlider searchMain"
    }

    .pageSearchArticles {
        grid-template-rows: 5.5vh auto auto auto auto 10vh;
    }

    .articleSliderSearchContainer img {
        width: 262px;
    }

    .articleSliderSearchContainer {
        width: 262px;
    }

    .searchContainer h3 {
        font-size: 17px;
    }

    .searchContainer img {
        width: 258px;
    }

    .pageNavigationArticles {
        grid-template-rows: 5.5vh auto auto auto auto 10vh;
    }

    .articleSliderSearchContainer span {
        padding-left: 5px;
    }

    .articleSliderSearchContainer div {
        top: 45%;
        grid-template-columns: 1fr 5% 88% 1fr;
    }

    .articleSliderSearchContainer div h3 {
        font-size: 16.5px;
    }


    /* MobileMenu */

    .MenuButton {
        grid-area: menuButton;
        display: inline-block;
        justify-self: center;
    }
}

@media (max-width: 800px) {

    .container {
        grid-template-columns: 100%;
        grid-template-rows: 5vh auto auto auto 10vh;
        grid-template-areas: 
        "header" 
        "slider" 
        "indexContainer" 
        "navigationFooter"
        "footer"
    }

    .MainSlider {
        margin-top: -2vh;
    }

    .header {
        position: fixed;
        height: 45px;
        width: 100%;
    }

    .headerContainer {
        width: 100%;
        position: relative;
        padding-top: 0;
        grid-template-columns: 90% 10%;
        grid-template-rows: 48px;
        grid-template-areas:
        "logo menuButton"
    }

    .NavigationSectionContainer {
        display: none;
    }

    .Logo {
        width: 180px;
        margin-left: 15px;
    }

    .LogoMobileMenu {
        position: absolute;
        width: 200px;
        left: 60px;
    }

    .NavMobileForm {
        position: relative;
    }

    .articlesList {
        grid-row-gap: 2vh;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        grid-template-areas:
        "mainDivOdd" 
        "mainDivEven"
    }

    .articleContainer {
        width: 570px;
        position: relative;
    }

    .articleContainer div h3 {
        font-size: 20px;
        text-align: center;
        justify-self: center;
    }

    .articleContainer div span {
        font-size: 18px;
        align-self: end;
        margin-bottom: 5px;
    }

    .articleContainer div i {
        font-size: 15px;
        align-self: end;
        margin-bottom: 8px;
    }

    .MainArticleImg {
        display: grid;
        cursor: pointer;
        width: 570px;
    }

    .MainSliderContainer {
        width: 600px;
    }

    .articleSliderContainer img {
        display: grid;
        width: 299px;
    }

    .articleSliderContainer {
        width: 299px;
    }

    .MainSliderOne {
        display: none;
    }
    
    .MainSliderTwo {
        display: block;
        grid-area: two;
    }

    .MainSliderThree {
        display: block;
        grid-area: three;
    }

    .MainSliderFour {
        display: none;
        grid-area: four;
    }

    .MainSliderContainerSection {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-template-areas:
        "three two"
    }

    .MainAsideContainer {
        width: 600px;
        grid-template-columns: 100%;
        grid-template-areas: 
        "main" 
    }

    .BottomNavigationSection {
        width: 600px;
        grid-template-columns: 100%;
        grid-template-areas: 
        "bottomNavigationForm"
    }

    .BottomNavigationForm h2 {
        padding: 15px 20px;
        font-size: 20px;
    }

    .ButtonToTop {
        display: none;
    }

    .FooterContainer {
        width: 600px;
    }

    .aside {
        display: none;
    }

    /* Article page */

    .pageMainAsideContainer {
        width: 600px;
        grid-template-columns: 100%;
        grid-template-areas:
        "pageMainSliderContainer"
    }

    .pageContainerNeedSee {
        grid-template-rows: 45px auto auto auto 10vh;
    }

    .SliderNeedSeeOne {
        display: none;
    }

    .SliderNeedSeeTwo {
        display: block;
    }

    .articleSliderNeedSeeContainer img {
        width: 302px;
    }

    .articleSliderNeedSeeContainer {
        width: 302px;
    }

    .Tags p {
        padding: 3px 3px;
        font-size: 15px;
    }

    /* pageSearch and pageNavigation */

    .SliderMainAsideContainer {
        width: 600px;
        grid-template-columns: 100%;
        grid-template-areas:
        "searchMain"
    }

    .Navigation {
        display: none;
    }

    .SearchSlider {
        display: none;
    }

    .pageSearchArticles {
        grid-template-columns: 100%;
        grid-template-rows: 45px auto 5vh 10vh;
        grid-template-areas:
        "header"
        "searchNavigationContainer"
        "navigationFooter"
        "footer"
    }

    .searchContainer h3 {
        font-size: 18px;
    }

    .searchContainer img {
        width: 310px;
    }

    .pageNavigationArticles {
        grid-template-columns: 100%;
        grid-template-rows: 45px auto 5vh 10vh;
        grid-template-areas:
        "header"
        "searchNavigationContainer"
        "navigationFooter"
        "footer"
    }

    .articleSliderSearchContainer span {
        padding-left: 5px;
    }

    .articleSliderSearchContainer div {
        top: 45%;
        grid-template-columns: 1fr 5% 88% 1fr;
    }

    .articleSliderSearchContainer div h3 {
        font-size: 16.5px;
    }

    /* MobileMenu */

    .MenuButton {
        grid-area: menuButton;
        display: inline-block;
        justify-self: center;
    }
}

@media (max-width: 615px) {

    .container {
        grid-template-columns: 100%;
        grid-template-rows: 45px auto auto auto 40px;
        grid-template-areas: 
        "header" 
        "slider" 
        "indexContainer" 
        "navigationFooter"
        "footer"
    }

    .MainSlider {
        margin-top: -2vh;
    }

    .header {
        position: fixed;
        height: 45px;
        width: 100%;
    }

    .headerContainer {
        width: 100%;
        position: relative;
        grid-template-columns: 80% 20%;
        grid-template-rows: 48px;
        grid-template-areas:
        "logo menuButton"
    }

    .NavigationSectionContainer {
        display: none;
    }

    .Logo {
        width: 180px;
        margin-left: 15px;
    }

    .LogoMobileMenu {
        position: absolute;
        width: 200px;
        left: 60px;
    }

    .NavMobileForm {
        position: relative;
    }

    .articlesList {
        grid-row-gap: 2vh;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        grid-template-areas:
        "mainDivOdd" 
        "mainDivEven"
    }

    .SocialIcons {
        font-size: 12px;
    }

    .MainArticlesTitle {
        grid-template-columns: 55% 45%;
    }

    .articleContainer {
        position: relative;
        width: 91vw;
    }

    .articleContainer div i {
        padding-right: 2px;
    }

    .articleContainer div span {
        justify-self: start;
        padding-left: 2px;
    }

    .MainArticleImg {
        display: grid;
        cursor: pointer;
        width: 91vw;
    }

    .MainSliderContainer {
        width: 94vw;
    }

    .articleSliderContainer img {
        width: 100%;
    }

    .articleSliderContainer {
        width: 100%;
    }

    .articleSliderContainer div {
        top: 52%;
    }

    .articleSliderContainer div h3 {
        font-size: 18px;
        margin-top: 10px;
    }

    .articleSliderContainer div span {
        font-size: 18px;
        align-self: end;
        margin-bottom: 5px;
    }

    .articleSliderContainer div i {
        font-size: 15px;
        align-self: end;
        margin-bottom: 8px;
        justify-self: end;
    }

    .MainSliderOne {
        display: none;
    }
    
    .MainSliderTwo {
        display: block;
        grid-area: two;
    }

    .MainSliderThree {
        display: none;
        grid-area: three;
    }

    .MainSliderFour {
        display: none;
        grid-area: four;
    }

    .MainSliderContainerSection {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
        "two"
    }

    .MainAsideContainer {
        width: 94vw;
        grid-template-columns: 100%;
        grid-template-areas: 
        "main" 
    }

    .BottomNavigationSection {
        display: none;
    }

    .ButtonToTop {
        display: none;
    }

    .FooterContainer {
        width: 94vw;
        border-top: 1px solid #e3e3e3;
        margin-top: -15px;
        padding-top: 10px;
    }

    .FooterContainer p {
        margin: 0;
        font-size: 12px
    }

    .aside {
        display: none;
    }

    /* Article page */

    .pageMainAsideContainer {
        width: 94vw;
        grid-template-columns: 100%;
        grid-template-areas:
        "pageMainSliderContainer"
    }

    .pageContainerNeedSee {
        grid-template-columns: 100%;
        grid-template-rows: 45px 1fr auto;
        grid-template-areas:
        "header"
        "indexArticlesContainer"
        "footer"
    }
    
    .SliderNeedSeeOne {
        display: none;
    }

    .SliderNeedSeeTwo {
        display: none;
    }

    .Tags p {
        border: 1px solid black;
        padding: 3px 3px;
        font-size: 12px;
    }

    /* pageSearch and pageNavigation */

    .SliderMainAsideContainer {
        width: 94vw;
        grid-template-columns: 100%;
        grid-template-areas:
        "searchMain"
    }

    .Navigation {
        display: none;
    }

    .NavigationFooter {
        display: none;
    }

    .SearchSlider {
        display: none;
    }

    .searchContainer h3 {
        padding-left: 7px;
        font-size: 15px;
    }

    .searchContainer img {
        width: 90vw;
    }

    .pageNavigationArticles {
        grid-template-columns: 100%;
        grid-template-rows: 45px 1fr auto;
        grid-template-areas:
        "header"
        "searchNavigationContainer"
        "footer"
    }

    .pageSearchArticles {
        grid-template-columns: 100%;
        grid-template-rows: 45px 1fr auto;
        grid-template-areas:
        "header"
        "searchNavigationContainer"
        "footer"
    }

    .searchContainer {
        border-bottom: 1px solid #e3e3e3;
        margin: 0;
        padding-bottom: 10px;
        grid-template-columns: 100% ;
        grid-template-rows: auto auto;
        grid-template-areas:
        "searchTitle"
        "searchImg"
    }

    /* MobileMenu */

    .MenuButton {
        grid-area: menuButton;
        display: inline-block;
        justify-self: end;
        margin-right: 10px;
    }

    .inputMobileForm {
        width: 230px;
    }

    .LogoMobileMenu {
        left: 34px;
    }

    .footer img {
        width: 155px;
    }
}

@media (max-width: 415px) {

    .articleContainer div i {
        font-size: 13px;
    }

    .articleContainer div span {
        font-size: 16px;
    }

    .articleContainer div h3 {
        font-size: 17px;
    }

    .articleContainer div {
        top: 48%;
    }
}

@media (max-height: 480px) {
    .NavigationMobile h2 {
        margin: 0 0 0 3px;
        border-bottom: 1px solid black;
        display: block;
        padding: 12px 0 12px 12px;
        color: white;
        font-style: normal;
        font-size: 16px;
        cursor: pointer;
    }
}